{% extends "parent.html" %}

{% block title %}
<title>Reports</title>
{% endblock %}

{% block main %}
<main>


<div class="row">
    <div class="col-md-6">
        <h2 class="text-center my-4">Orders Report</h2>
        <ul class="list-group">
            {% for order in orders %}
            <li class="list-group-item">
                Order ID: {{ order.id }} - Table ID: {{ order.table_id }} - Total: ${{ order.total }} - Date: {{ order.date_ordered.strftime('%Y-%m-%d %H:%M:%S') }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2 class="text-center my-4">Reservations Report</h2>
        <ul class="list-group">
            {% for reservation in reservations %}
            <li class="list-group-item">
                Reservation ID: {{ reservation.id }} - Table ID: {{ reservation.table_id }} - Customer: {{ reservation.customer_name }} - Time: {{ reservation.reservation_time.strftime('%Y-%m-%d %H:%M:%S') }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</main>
{% endblock %}
